baseURL = "https://mubon-esg.github.io/Debrah/"
languageCode = "zh-tw"
title = "Debrah ESG Procurement Performance｜永續採購顧問"
theme = "PaperMod"

[pagination]
pagerSize = 10

[taxonomies]
tag = "tags"
category = "categories"

[outputs]
home = ["HTML"]
section = ["HTML"]
page = ["HTML"]
taxonomy = ["HTML"]
term = ["HTML"]





 















































