 /* 讓內容縮減寬度並置中 */
.main, .post-content, .post-title, .post-header {
    max-width: 760px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 10px !important;
}

/* 強化行距與閱讀舒適度 */
.post-content {
    line-height: 2.2 !important;
    font-size: 19px !important;
}

.post-content p {
    margin-bottom: 25px !important;
} 
