/* 測試用：如果生效，背景會變色 */
body {
    background-color: #f5f5f5 !important;
}

/* 調整文章寬度與行距 */
.main {
    max-width: 700px !important;
    margin: 0 auto !important;
}

.post-content {
    line-height: 2.2 !important;
    font-size: 20px !important;
    word-spacing: 2px;
}

.post-content p {
    margin-bottom: 30px !important;
}
